@import "variables";

footer {
  display: block;
  overflow: hidden;
  margin: 40px 0 0;
  padding: 20px 0 0;
  background: $dark-color;
  color: $light-color;
}

footer ul {
  display: block;
  padding: 0;
  color: white;
  font-size: 12px;
  list-style: none;
  
  ul {
    padding-left: 20px;
  }

  li {
    padding: 5px 0;
  }

  a {
    color: $light-color;
    text-decoration: none;
  }
}
