@import "variables";

header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  background-color: $dark-color;

  .background-wrapper {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    opacity: 0;
    -webkit-animation-name: overlay;
    animation-name: overlay;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

@-webkit-keyframes overlay {
  0% { opacity: 0; }
  100% { opacity: .2; }
}

@keyframes overlay {
  0% { opacity: 0; }
  100% { opacity: .2; }
}

.logo {
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px -100px;
  width: 200px;
}
