@import "variables";

section.home {
  article {
    padding: 20px 0;
    border-bottom: 1px solid rgba(34, 34, 34, .1);
  }

  h3 {
    margin-bottom: 5px;
    font-family: $bold-font;
  }

  a {
    color: $dark-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  span {
    display: block;
    font-size: 12px;
  }
}
