$dark-color: #222;
$light-color: #fff;
$red-color: #cb0032;

$regular-font: Lato, sans-serif;
$bold-font: 'Bree Serif', serif;

$regular-line-height: 1.7;

$text-select-background: #222;
$text-select-color: #fff;

$post-title: (
  'header-font-size': 14px,
  'header-height': 200px,
  'header-text-position': center,
  'header-top-padding': 100px
);

$post-meta-data-font-size: 12px;

$post-anchor-color: (
  'greenish': #80bd01,
  'black': #000
);

$animation-duration: .3s;
